
{% extends "base.html" %}
{% load static %}
{% block title %}Home Page
{% endblock %}

{% block content %}
    <section id="hero" class="hero section">

      <img src="{{hero_pic}}" alt="" data-aos="fade-in">

      <div class="container text-center" data-aos="zoom-out" data-aos-delay="100">
        <div class="row justify-content-center">
          <div class="col-lg-8">
          <h2 data-aos="fade-up" data-aos-delay="100">    </h2>
            {% comment %} <h2>{{name}}</h2> {% endcomment %}
            {% comment %} <p>{{short_description}}</p> {% endcomment %}
            <a href={% url 'about'%} class="btn-get-started">About Me</a>
          </div>
        </div>
      </div>

    </section>
{% endblock %}